* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
}

.box {
  height: 60px;
  width: 25%;
  border: 1px solid green;
  color: whitesmoke;
  display: block;
  margin: 0;
  padding: 0px;
  float: left;
}
a:link {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: underline;
  transition: 5s;
}
a:active {
  color:rgb(18, 6, 12);
}
#first {
  background-color: rgb(100, 192, 141);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
#second {
  background-color: rgb(98, 201, 98);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
#third {
  background-color: rgb(70, 204, 70);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
#fourth {
  background-color: rgb(77, 180, 22);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.clear {
  clear: both;
}

main {
  background-image: url(niitty.jpg);
  padding: 10px;
  border: 1px dashed rgb(65, 217, 156);
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding-left: 20px;
  position: relative;
}
.clearfix::after {
  clear: both;
  display: table;
}

p {
  color: rgb(0, 105, 105);
  font-weight:bold;
}

footer {
  margin-top: 140px;
  height: 100px;
  padding-top: 30px;
  border: 700px;
  text-align: center;
  background-color: rgb(61, 196, 122);
}
#chihuahua {
  width: 200px;
  float: left;
  margin-top: 40px;
}
h1 {
  text-align: center;
  color:rgb(0, 120, 139);
  margin-top: 50px;
  padding-top: 50px;
  
}
h2 {
  color:rgb(0, 120, 139);
}
h3 {
  color:rgb(2, 152, 176);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%
}
#kukka {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -30px;
  right: 10px;
}
#target {
  height: 100px;
  width: 330px;
  background-color: rgb(27, 142, 142);
  left: 120px;
  top: 150px;
  position: absolute;
}
.color {
  color:aliceblue;
  font-size: x-small;
  margin-top: 10px;
  margin-left: 10px;
}

